# Virtual environment variables, will excluse virtual environment directory
venv/

# Environment variables, will exclude the environment variables file from being tracked
.env 

# Python bytecode files, will exclude compiled Python files
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

.vscode/
.idea/